html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: table;
	background-color: black;
}

@font-face {
	font-family: neon;
	src: url(/css/fonts/Burtinomatic.ttf);
}

.container {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

h1 {
	background: url('/css/wood-plaque.png') center center no-repeat;
	background-size: 427px 187px;
	width: 427px;
	height: 187px;
	justify-content: center;
	padding-top: 8.5px !important;
	margin-top: 10px !important;
}

.neon {
	font-family: neon;
	font-size: 6vw;
	line-height: 6vw;
}

.flux {
	font-family: neon;
	font-size: 2.5vw;
	line-height: 3vw;
}

